#featured {
    display: flex;
    flex-direction: column;
}
.featured-group-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.featured-item-image {
    width: 300px;
}