/*featured items*/
#featured {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #e8e8e8;
}

/*featured item group*/
.featured-group {
    margin-top: 10px;
}

/*title of groups*/
.featured-group-title {
    font-size: 28px;
    margin-top: 30px;
}

/*content of groups*/
.featured-group-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/*featured item*/
.featured-item {
    margin-top: 5px;
    margin-right: 6px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/*major content of a product except the add to cart button*/
.featured-item-body {
    flex: 1;
    margin-bottom: 15px;
}

/*link of featured item*/
.featured-item-body > a {
    text-decoration: none;
}

/*image of featured item*/
.featured-item-image {
    width: 300px;
    height: 400px;
}
