#featured {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.featured-group {
    margin-top: 10px;
}

.featured-group-title {
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.featured-group-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.featured-item {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.featured-item > a {
    text-decoration: none;
    flex: 1;
}

.featured-item-image {
    width: 300px;
}

.featured-item-buy-buttom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: none;
    color: white;
    background-color: red;
    font-size: 22px;
    cursor: pointer;
    border: 2px solid red;
}

.featured-item-buy-buttom img {
    width: 22px;
    height: auto;
    filter: invert(100%) sepia(0%) saturate(7495%) hue-rotate(138deg) brightness(115%) contrast(100%);
}

.featured-item-buy-buttom:hover {
    color: red;
    background-color: white;
}

.featured-item-buy-buttom:hover img {
    filter: invert(24%) sepia(82%) saturate(7492%) hue-rotate(356deg) brightness(103%) contrast(115%);
}