/* vertical size of page set to full screen size */
html{
    height: 100%;
}
body{
    height: 100%;
}

/*keep footer at bottom*/
main{
    height: 80%;
}

/*design main content*/
#loginForm {
    height:70%;
    margin: auto;
    width: 450px;
    font-size: 24px;
} 

/*login form row*/
.login-form-item {
    margin-top: 25px;
    display: inline-flex;
    align-items: center;
}

.login-form-item label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 5px;
}

.login-form-item input {
    width: 300px;
    font-size: 24px;
}

/*login form login button section*/
.login-form-login {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*the login button*/
#loginButton {
    width: 200px;
}