/* set product-image margin*/
.product-image{
    margin:20px 20px 20px 20px;
}

/*set product-image size*/
.product-image img{
    width: 300px;
    height: auto;
}

/*set product-texts bar*/
.product-texts{  
    overflow: auto;
    border-bottom: solid 1px black;
    padding: 5px;
    margin: 5px;
    font-size: 17px;
}

/*make title float to left*/
.product-title{
    float: left;
}

/*make rating float to right*/
.Rating{
    float: right;
}

/*diplay maininfo container in flex box*/
.maininfo{
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px;
    flex-direction: column;
    row-gap: 20px;
}

/*set text of product-price*/
.product-price{
    font-size: 35px;
    font-weight: bold;
    
}

/*align description header text to center*/
.product-description h1{
    text-align: center;
}

/*set description paragraph font size*/
.product-description p{
    font-size: 20px;
}

/*set quantityLabel font size*/
#quantityLabel{
    font-size: 20px;
}

/*button for cart*/
#addToCart{
    padding: 10px;
    border: none;
    color: white;
    background-color: red;
    font-size: 22px;
    cursor: pointer;
}