/* divide the main content into three grid area: filters, ordering option and search results.*/
main {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 20px auto;
  grid-template-areas: "search-filter order-by""search-filter search-result";
}

/* set the style for order-by class */
#order-by {
  /* background-color: #eee; */
  margin: 10;
  padding: 5;
  display: right;
  text-align: right;
  vertical-align:auto;
}


/* set the style for search-filter area  */
#search-filter {
  grid-area: search-filter;
  display: block;
}

.filter {
  margin-top:10px;
  margin-bottom:10px;
  border: 1px;
  border-top: 1px solid rgb(83, 83, 83);

}

/* style for the search result components */
.product-image img {
  width: 150px;
}

#search-result {
  display: inline-block;
}

.result-item {
  padding: 20px;
  border-bottom: 0.5px solid rgb(236, 228, 228);
}

.result-item div {
  display: inline-flex;
  flex-direction: column;
  width: 25%;
  vertical-align: middle;
  padding: 20px;
}

#quantity1{
  margin-top:10px;
  width:80px;
}