main {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 40px auto;
  grid-template-areas: "search-filter order-by""search-filter search-result";
}

#order-by {
  background-color: #eee;
  margin: 0;
  padding: 0;
  display: flex;
}

#order-by>a {
  color: black;
  padding: 16px;
  text-decoration: none;
  width: auto;
  /* display:inline-flex; */
  display: flex;
  align-items: center;
}

#order-by a:hover {
  background-color: #ccc;
}

select {
  border: 0;
  border-top: 1px solid rgb(83, 83, 83);
  background-color: transparent;
  display: block;
  padding: 20px;
  width: 100%;
}

#search-filter {
  grid-area: search-filter;
  display: block;
}

.product-image img {
  width: 150px;
  padding: auto;
}


#search-result {
  display: inline-block;
}
.product-info{
  display:grid;
}

.result-item div{
  display:inline-flex;
  width:30%;
  vertical-align: middle;
}
.featured-item-buy-buttom {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: none;
  color: white;
  background-color: #d1522b;
  font-size: 22px;
  cursor: pointer;
  border: 2px solid #d1522b;
}

.featured-item-buy-buttom img {
  width: 22px;
  height: auto;
  filter: invert(100%) sepia(0%) saturate(7495%) hue-rotate(138deg) brightness(115%) contrast(100%);
}

.featured-item-buy-buttom:hover {
  color: #d1522b;
  background-color: white;
}

.featured-item-buy-buttom:hover img {
  filter: invert(24%) sepia(82%) saturate(7492%) hue-rotate(356deg) brightness(103%) contrast(115%);
}