/* divide the main content into three grid area: filters, ordering option and search results.*/
main {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 40px auto;
  grid-template-areas: "search-filter order-by""search-filter search-result";
}

/* set the style for order-by class */
#order-by {
  background-color: #eee;
  margin: 0;
  padding: 0;
  display: flex;
}

#order-by>a {
  color: black;
  padding: 16px;
  text-decoration: none;
  width: auto;
  display: flex;
  align-items: center;
}

#order-by a:hover {
  background-color: #ccc;
}

/* set the style for search-filter area  */
#search-filter {
  grid-area: search-filter;
  display: block;
}

select {
  border: 0;
  border-top: 1px solid rgb(83, 83, 83);
  background-color: transparent;
  display: block;
  padding: 20px;
  width: 100%;
}

/* style for the search result components */
.product-image img {
  width: 150px;
}

#search-result {
  display: inline-block;
}

.result-item {
  padding: 20px;
  border-bottom: 0.5px solid rgb(236, 228, 228);
}

.result-item div {
  display: inline-flex;
  flex-direction: column;
  width: 25%;
  vertical-align: middle;
  padding: 20px;
}