body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}


body > header, body > nav, body > main, body > footer {
    width: 1200px;
}

body > header {
    display: flex;
    background-color: #d1522b;
    align-items: center;
}

body > nav{
    background-color: #333333;
}

body > footer {
    background-color: LightBlue;
}

body > main {
    background-color: #e8e8e8;
}

.page-header-item {
    display: block;
}

.page-header-button {
    border: none;
    color: black;
    padding: 12px 14px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
}

.page-header-button:hover {
    background-color: #682915;
}

.main-logo {
    align-self: flex-start;
    flex: 1;
}

#navlogo {
	width: 300x;
    height: 100px;
}

#quickSearch{
    height: 40px;
    width: 300px;
}

#menu {
    margin: 0;
    padding: 0;
    display: flex;
}

#menu > a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    width: 80px;
}

#menu a:hover {
    background-color: #111111;
}

#banner {
    margin-top: 10px;
}

.banner-image {
    max-width: 100%;
}