#navlogo {
	width: 48px;
    float: top;
}

#searchBar{
    clear: both;
}

.header-nav-item {
    float: top;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   

}

li{
    float: left;
    cursor: pointer;
}

li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }